#about{
    max-width: 100%;
    width: 100%;
    height: 880px;
    background-color: #050505;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

#headline{
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    font-weight: 100;
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
}

#headlineDiff{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 50px;
    color: #CAAC7F;
}

#aboutBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050505;
    height: 400px;
    padding: 60px;
    position: relative;
    top: -30%;
}

#aboutImgContaine{
    width: 200px;
    position: absolute;
    
}

#aboutImg{
    width: 1000px;
    height: 300px;
    border: 5px solid #CAAC7F;
    border-radius: 10px;
    
}

#aboutText{
    margin-left: 20px;
    text-align: center;
    font-size: 17px;
    font-family: 'Manrope', sans-serif;
}

#aboutBtn{
    outline: 2px solid #CAAC7F;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-family: 'Manrope', sans-serif;
}

#aboutBtn:hover{
    background-color: #2C3D42;
}

#arrow{
    font-size: 25px;
    font-weight: 600;
    margin-left: 15%;
}