#navSection{
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: black;
    box-shadow: 0px 2px 5px white;
}

#navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

// color: #CAAC7F;
// color: #B67A4B;

#logoContainer{
    width: 300px;
}

#logo{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    font-size: 35px;
    color: #CAAC7F;
    padding-left: 15px;
}

#nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
}

#menu{
    font-size: 30px;
    color: #CAAC7F;
}

#consultation{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #CAAC7F;
    border-radius: 3px;
    box-shadow: 0px 0px 5px black;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    color: #CAAC7F;
}

#consultation:hover{
    background-color: #2C3D42;
}

/* Styling for the Menu */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it appears above other content */
  }
  
  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 700px;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  #menu-items {
    height: 90%;
    width: 90%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Manrope', sans-serif;
  }

  #menu-items li:hover{
    color: #2C3D42;
  }
  
  #menu-items li {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .close-button{
    display: flex;
    justify-content: center;
  }

  .close-button:hover{
    color: #2C3D42;
  }

  #close{
    font-size: 30px;
  }
  
